<% @title = "#{@cat.name}" %>

<h1><%= @cat.name %></h1>

<% if flash[:error] %>
    <div class="error"><%= flash[:error] %></div>
<% end %>

<section class="cat-info">

    <img src="<%= @cat.image_url %>" alt="Photo of #{<%= @cat.name %>}">

    <table>
        <tbody>
            <% %w[birth_date age sex color description].each do |attr| %>
                <tr>
                    <th><%= attr.split('_').map(&:capitalize).join(' ') %></th>
                    <td><%= @cat.send(attr).to_s.capitalize %></td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <%= link_to "Update #{@cat.name}", edit_cat_url(@cat) %>
</section>

<section class="cat-info">
<h2>Rental Requests</h2>
<% if @rentals.empty? %>
    <div class="msg">No one has requested this cat yet. Why not be the first!</div>
<% else %>
    <%= render 'rentals', rentals: @rentals, owners: @owners %>
<% end %>

<%= link_to "Request #{@cat.name}", new_cat_rental_request_url(cat_id: @cat.id) %>
</section>