<!DOCTYPE html>
<html>
  <head>
    <title>99 Cats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to '99 Cats', cats_url %>
    </header>
    <%= yield %>
  </body>
</html>
